/*
    Comentarios en CSS
*/
body{
    font-size: 150%;
}

section span{
    float: left;
    border: 2px solid grey;
    padding: 5px;
    margin: 0px;
    /*margin-right: 75px;
    font-weight: bold;*/
    color: black;
}

h1{
    font-family: 'Noto Sans', sans-serif;
    /*border: 10px solid blue;
    padding: 20px;
    margin: 5px;*/
    font-weight: bold;
    font-size: 300%;
    text-align: center;
    color: brown;
}

h2{
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    font-size: 150%;
    margin-top: 15px;
    margin-bottom: 15px;
    color: brown;
}

h3{
    margin-top: 5px;
    margin-bottom: 5px;
}

p{
    border: 5px solid green;
    padding: 20px;
    margin: 10px;
    font-weight: bold;
    color: green;
}

img{
    float: right;
    margin-right: 75px;
}

ul{
    margin-top: 15px;
    margin-bottom: 15px;
}

span h2{
    margin-left: 220px;
}

span ul{
    margin-left: 220px;
}

ol{
margin-top: 5px;
margin-bottom: 5px;
}

li{
    margin-top: 5px;
    margin-bottom: 5px;
}